/* OSWALD GOOGLE FONT */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url('../fonts/Oswald/Oswald.woff2') format('woff2'), url('../fonts/Oswald/Oswald.woff) format('woff');
}

/* ROBOTO GOOGLE FONT */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto/Roboto.woff2') format('woff2'), url('../fonts/Roboto/Roboto.woff') format('woff');
}

/* LATO GOOGLE FONT */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/Lato/Lato-latin-ext.woff2') format('woff2'), url('../fonts/Lato/Lato-latin-ext.woff') format('woff');
}
